/* general styling */
.center {
    text-align: center;
}
/* ======================== */

/* login and register */
.userInfo {
    width: 30%;
    margin: auto;
    padding-top: 10%;
}

.titleMsg {
    color: #856A5D;
    text-align: center;
    padding: 10px;
}

#account {
    color: #856A5D;
    width: 50%;
    margin: 5px;
}
/* ======================== */

/* navbar */
.navbar {
    background-color: #856A5D;
}

#logo {
    color: #D8B4A0;
}

#navbar_user {
    padding-right: 20px;
    /* padding-top: 2px; */
    color: #C2B4AE;
}
/* ======================== */

/* home */
#choice:hover {
    color: #856A5D;
    border: 2px solid #856a5d;
    background-color: #ffffff;
}

#choice{
    color: #ffffff;
    background-color: #856A5D;
    padding: 10px;
    margin: 5px;
    width:50%;
}
