/* general styling */
.center {
    text-align: center;
}

.msg {
    width:80%;
    margin: auto;
    margin-top:5px;
}
/* ======================== */

/* login and register */
.userInfo {
    width: 30%;
    margin: auto;
    padding-top: 10%;
}

.titleMsg {
    color: #856A5D;
    text-align: center;
    padding: 10px;
}

#account {
    color: #856A5D;
    width: 50%;
    margin: 5px;
}
/* ======================== */

/* navbar */
.navbar {
    background-color: #edbfb7;
}

#logo {
    color: #352A25;
}

#navbar_user {
    padding-right: 20px;
    /* padding-top: 2px; */
    color: #856A5D;
}

.nav-link {
    color:#8E726D;
}

#nav_lg {
    color:#4c004c;
    background-color:#edbfb7;
    border: 1px solid #4c004c;
}

#nav_lg:hover {
    background-color:#4c004c;
    color:#edbfb7;
}
/* ======================== */

/* home */
#choice:hover {
    color: #856A5D;
    border: 2px solid #856a5d;
    background-color: #ffffff;
}

#choice{
    color: #ffffff;
    background-color: #856A5D;
    padding: 10px;
    margin: 5px;
    width:50%;
}
/* ======================== */

/* restaurants */
.search_group {
    width:40%;
    margin:auto;
}

#search_btn {
    width: 50%;
    margin: 20px;
}

#s_tag {
    margin: 10px;
}

#rest_name {
    color:#4c004c;
}
/* ======================== */

/* recipes */
.recipe_box {
    width:60%;
    margin: auto;
}

#recipe_img {
    width: 25em;
    height: 18em;
    margin: 2em;
}

#ig_list {
    margin: 20px;
    color: #515751;
}

#ig_heading {
    color: #352a25;
}
/* ======================== */

/* ingredients */
#ig_btn {
    border: 2px solid #C2C1A5;
    color: #878773;
    padding: 10px;
    margin: 5px;
    width:60%;
}

#ig_btn:hover {
    color: #ffffff;
    background-color: #C2C1A5;
}

.nut_info {
    color: #5A665E;
}

.nut_info tr:nth-child(even) {
    background-color: #DADDDB;
}
/* ======================== */

/* favorites */
#fav_rec_btn {
    border: 2px solid #d5aba4;
    color: #d5aba4;
    padding: 10px;
    margin: 5px;
    width:60%;
}

#fav_rec_btn:hover {
    color: #ffffff;
    background-color: #d5aba4;
}
/* ======================== */
