{% extends "shell.html" %}

{% block login %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <span class="navbar-brand" id="logo">2Cook or Not2Cook</span>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
        {% block home %}
        <li class="nav-item">
            <a class="nav-link" href="/"">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/recipePath">Recipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/restaurantPath">Restaurants</a>
        </li>
        {% endblock %}
      <li class="nav-item">
        <a class="nav-link" href="/fav">Favorites</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/logout"><!--Provides option to log out-->
        <span id="navbar_user">{{user}}</span>
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</button>
    </form>
</div>
</nav>
{% endblock %}
