{% extends "header.html" %}

{% block title %} Home {% endblock %}

{% block content %}

    {% block home %}{% endblock %}

    <br><!--If input criteria aren't fullfilled, flashes error messages -->
    {% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
      <b>{{each}}</b>

      {% endfor %}

      <form action="/restGo">
        <input type="submit" name="Restaurants" value="goRest"> </input>
      </form> <br>

      <form action="/recGo">
        <input type="submit" name="Recipes" value="goRec"> </input>
      </form> <br>
{% endblock %}
