{% extends "header.html" %}

{% block title %} Home {% endblock %}

{% block home %}{% endblock %}

{% block content %}

    <br><!--If input criteria aren't fullfilled, flashes error messages -->
    {% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
      <b>{{each}}</b>

      {% endfor %}

      <button type="button" class="btn btn-outline-dark"><a href="/recipePath">To Cook</a></button>
      <button type="button" class="btn btn-outline-dark"><a href="/restaurantPath">Not To Cook</a></button>


{% endblock %}
