{% extends "header.html" %}

{% block title %} Home {% endblock %}

{% block home %}{% endblock %}

{% block content %}

    <h1 class="titleMsg"> What Are You Feeling Today? </h1>
    <div class="center">
        <form action="/recipePath">
            <button type="button" id="choice">To Cook</button>
        </form>
    </div>
    <div class="center">
        <form action="/restaurantPath">
            <button type="submit" id="choice">Not To Cook</button>
        </form>
    </div>
{% endblock %}
