{% extends "header.html" %}

{% block title %} Recipe Path {% endblock %}

{% block content %}
<div class="search_group">
  <h2 class="titleMsg"> What ingredient do you have?</h2>
    <form action="/processIngredient">
        <div class="form-group center">
            <input type="text" name="ingredient" class="form-control" placeholder="eg: egg" required>
        </div>
        <div class="center"><button type="submit" class="btn btn-warning" id="search_btn">Get Recipes</button></div>
    </form>
    {% for each in RV_data %}
        <a href = "/recipe?id={{each[1]}}"> {{each[0]}} </a>
        <br>

    {% endfor %}
</div>
{% endblock %}
