{% extends "header.html" %}

{% block title %}Recipes {% endblock %}

{% block content %}
    <br><!--If input criteria aren't fullfilled, flashes error messages -->
    {% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
      <b>{{each}}</b>

      {% endfor %}
     Favorite Recipes: <br>
     {% for name in fav_rec %}
      <input type = "submit" name = "recipe" value = {{name}}></input>
      <br>
       {% endfor %}

      Recently Viewed Recipes: <br>
    {% for name in rv_rec %}
      <input type = "submit" name = "recipe" value = {{name}}></input>
      <br>
       {% endfor %}


{% endblock %}
