{% extends "header.html" %}

{% block title %} Restaurant Query {% endblock %}

{% block content %}
  <form action="/processQuery">
    <label for="est_s">Establishment</label>
    <select class="custom-select" name="establishment" id="est_s" size="5">
        <option value="none">No Preference</option>
        {% for establishment in establishmentList %}
            <option value="{{establishmentList[establishment]}}">{{establishment}}</option>
        {% endfor %}
    </select>
    <br>
    <label for="cui_s">Cuisine</label>
    <select class="custom-select" name="cuisine" id="cui_s">
      <option value="none">No Preference</option>
      {% for cuisine in cuisineList %}
          <option value="{{cuisineList[cuisine]}}">{{cuisine}}</option>
      {% endfor %}
    </select>
    <br>
    <input type="hidden" name="city" value={{city}}>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
