{% extends "header.html" %}

{% block title %} Restaurant Query {% endblock %}

{% block content %}
  <form action="/processQuery">
    Establishment:
    <select name="establishment">
        <option value="none">No Preference</option>
    {% for establishment in establishmentList %}
        <option value="{{establishmentList[establishment]}}">{{establishment}}</option>
    {% endfor %}
    </select>
    <br>
    Cuisine:
    <select name="cuisine">
      <option value="none">No Preference</option>
      {% for cuisine in cuisineList %}
          <option value="{{cuisineList[cuisine]}}">{{cuisine}}</option>
      {% endfor %}
    </select>
    <br>
    <input type="hidden" name="city" value={{city}}>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
