{% extends "header.html" %}

{% block title %} Restaurant Path {% endblock %}

{% block content %}
    <div class="search_group">
      <h2 class="titleMsg"> So... Where you at?</h2>
      <form action="/processCity">
          <div class="form-group center">
              <label for="city_name">City</label>
              <input type="text" name="city" class="form-control" id="city_name" placeholder="eg: New York City" aria-describedby="city_limit" required>
              <small id="city_limit" class="form-text text-muted">Enter a single city name.</small>
          </div>
          <div class="center"><button type="submit" class="btn btn-warning" id="search_btn">I am here!</button></div>
      </form>
    </div>
{% endblock %}
