{% extends "shell.html" %}

{% block title %} Restaurants {% endblock %}

{% block content %}
     Hi, logged in as <b>{{user}}</b>
    <form action="/logout"><!--Provides option to log out-->
        <input type="submit" value="Logout">
    </form>

    <form action="/"><!--Goes to homepage if logged in-->
        <input type="submit" value="Home">
    </form>

    <br><!--If input criteria aren't fullfilled, flashes error messages -->
    {% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
      <b>{{each}}</b>

     <form action="/search" method= "POST">
       search <br>
       <input type= "text" name= "search"></input> <br><br>
       <input type= "submit" name = "subbutton" value ="Search"></input>
     </form>
      
      {% endfor %}
	  
	 
    Favorite Recipes: <br>
     {% for name in fav_rest %}
      <input type = "submit" name = "recipe" value = {{name}}></input>
      <br>
       {% endfor %}
       
      Recently Viewed Recipes: <br>
    {% for name in rv_rest %}
      <input type = "submit" name = "recipe" value = {{name}}></input>
      <br>
       {% endfor %}
      

{% endblock %}
